.Login{
    height: 100%;
}

.login-form{
    width: 13%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
    float: right;
}
#components-form-demo-normal-login .login-form-button {
    width: 100%;
}