.noAdmin {
    margin: auto;
    width: 40%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 30px;
    color: grey;
}

.adminContainer {
    margin: auto;
    padding-top: 30px;
    width: 70%;
}

.adminContainer table,.adminContainer .userTabTable{
    width: 100%;
    table-layout: fixed;
}

.adminContainer table tr,.adminContainer .userTabTable tr {
    background: #F6F6F6;
    border-bottom: 1px solid #E8E0E0;
}

.adminContainer table tr:first-child{
    color: #0084FF;
}

.adminContainer table tr th, .adminContainer table tr td,.adminContainer .userTabTable tr th,.adminContainer .userTabTable tr td {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.ant-tabs-nav.ant-tabs-nav-animated {
    left: 80px;
}

.adminContainer table tr td {
    word-wrap: break-word;
    word-break: break-all;
}

.adminContainer table tr th:nth-child(1) {
    width: 5%;
}

.adminContainer table tr th:nth-child(3) {
    width: 45%;
}

.adminContainer table tr th:last-child {
    width: 20%;
}

.adminContainer .userTabTable tr th:nth-child(1){
    width: 30%;
 }

.adminContainer .userTabTable tr th:nth-child(3){
    width: 30%;
}